{% if isLogged %}
<div class="nav-item dropdown">
    <a href="#" class="nav-link d-flex lh-1 p-0 px-2" data-bs-toggle="dropdown" aria-label="Open user menu">
        {% if loggedUser.role == "ADMIN" %}
        <span class="avatar avatar-2 avatar-sm bg-pink-lt">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon avatar-icon icon-2">
                <path d="M8 7a4 4 0 1 0 8 0a4 4 0 0 0 -8 0"></path>
                <path d="M6 21v-2a4 4 0 0 1 4 -4h4a4 4 0 0 1 4 4v2"></path>
            </svg>
        </span>
        {% endif %}
        {% if loggedUser.role == "DEFAULT" %}
        <span class="avatar avatar-2 avatar-sm bg-blue-lt">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon avatar-icon icon-2">
                <path d="M8 7a4 4 0 1 0 8 0a4 4 0 0 0 -8 0"></path>
                <path d="M6 21v-2a4 4 0 0 1 4 -4h4a4 4 0 0 1 4 4v2"></path>
            </svg>
        </span>
        {% endif %}
        <div class="d-none d-xl-block ps-2">
            <div><span>{{ loggedUser.username }}</span></div>
            <div class="mt-1 small">
                <span>{{ loggedUser.role }}</span>
            </div>
        </div>
    </a>
    <div class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
        <a href="/users/my-account" class="dropdown-item">Settings</a>
        <a href="/users/logout" class="dropdown-item">Logout</a>
    </div>
</div>
{% endif %}