<form class="offcanvas offcanvas-end offcanvas-narrow" tabindex="-1" id="editServiceCanvas" action="/admin/services/update" method="POST">
    <div class="offcanvas-header">
        <h2 class="offcanvas-title">Create</h2>
        <button type="button" class="btn-delete text-danger" style="margin-right: 0;" data-bs-toggle="modal" data-bs-target="#deleteServiceModal"></button>
        <button type="button" class="btn-close" style="margin-left: 0;" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body d-flex flex-column">
        <div>
            <div>
                <input type="hidden" name="id" value="{{ service.id }}">
                <div class="form-group">
                    <label for="name" class="form-label">Name</label>
                    <input id="name" type="text" class="form-control" name="name" value="{{ service.name }}" required>
                </div>
                <div class="form-group">
                    <label for="description" class="form-label">Description</label>
                    <input  id="description" type="text" class="form-control" name="description" value="{{ service.description }}" required>
                </div>
                <div class="form-group">
                    <label for="execStart" class="form-label">ExecStart</label>
                    <input  id="execStart" type="text" class="form-control" name="execStart" value="{{ service.execStart }}" required>
                </div>
                <div class="form-group">
                    <label for="workingDirectory" class="form-label">WorkingDirectory</label>
                    <input id="workingDirectory" type="text" class="form-control" name="workingDirectory" value="{{ service.workingDirectory }}" required>
                </div>
            </div>
        </div>
        <div class="mt-auto space-y">
            <button type="submit" class="btn btn-primary w-100" data-bs-dismiss="offcanvas">Save</button>
        </div>
    </div>
</form>