<div class="modal" id="settingsServiceModal" tabindex="-1" style="background: rgba(0, 0, 0, 0.5);">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <form action="/admin/services/update" method="POST">
                <input type="hidden" name="id" value="{{ service.id }}">
                <div class="modal-header">
                    <h5 class="modal-title">Settings</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="my-2">
                                <label for="name" class="form-label">Name:</label>
                                <input id="name" type="text" class="form-control" name="name" value="{{ service.name }}" required>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="my-2">
                                <label for="description" class="form-label">Description:</label>
                                <input  id="description" type="text" class="form-control" name="description" value="{{ service.description }}" required>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="my-2">
                                <label for="execStart" class="form-label">ExecStart:</label>
                                <input  id="execStart" type="text" class="form-control" name="execStart" value="{{ service.execStart }}" required>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="my-2">
                                <label for="workingDirectory" class="form-label">WorkingDirectory:</label>
                                <input  id="workingDirectory" type="text" class="form-control" name="workingDirectory" value="{{ service.workingDirectory }}" required>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn me-auto" data-bs-dismiss="modal">Close</button>
                    <a class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteServiceModal">Delete</a>
                    <button type="submit" class="btn btn-primary">Edit</button>
                </div>
            </form>
        </div>
    </div>
</div>