<form class="offcanvas offcanvas-end offcanvas-narrow" tabindex="-1" id="createUserCanvas">
    <div class="offcanvas-header">
        <h2 class="offcanvas-title">Create</h2>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body d-flex flex-column">

        <div class="mt-auto space-y">
            <a href="#" class="btn btn-primary w-100" data-bs-dismiss="offcanvas">Save</a>
        </div>
    </div>
</form>