<form class="offcanvas offcanvas-end offcanvas-narrow" tabindex="-1" id="createUserCanvas" action="/admin/users/create" method="POST">
    <div class="offcanvas-header">
        <div class="d-flex w-100 justify-content-between align-items-center">
            <div class="d-flex">
                <button disabled class="btn btn-md btn-icon" style="border-radius: 100%">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-1 icon-tabler icons-tabler-outline icon-tabler-users"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M5 7a4 4 0 1 0 8 0a4 4 0 1 0 -8 0"></path><path d="M3 21v-2a4 4 0 0 1 4 -4h4a4 4 0 0 1 4 4v2"></path><path d="M16 3.13a4 4 0 0 1 0 7.75"></path><path d="M21 21v-2a4 4 0 0 0 -3 -3.85"></path></svg>
                </button>
                <h2 class="offcanvas-title">Create user</h2>
            </div>
            <button class="btn btn-primary btn-md btn-icon" style="border-radius: 100%">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-1 icon-tabler icons-tabler-outline icon-tabler-check"> <path stroke="none" d="M0 0h24v24H0z" fill="none"/> <path d="M5 12l5 5l10 -10" /> </svg>
            </button>
        </div>
    </div>
    <div class="offcanvas-body d-flex flex-column">
        <div>
            <div class="form-group">
                <label>Username</label>
                <input class="form-control" type="text" name="username" autocomplete="false">
            </div>
            <div class="form-group">
                <label>Email</label>
                <input class="form-control" type="text" name="email" autocomplete="false">
            </div>
            <div class="form-group">
                <label>Password</label>
                <input class="form-control" type="password" name="password" autocomplete="false">
            </div>
            <div class="form-group">
                <label>Role</label>
                <select class="form-select" name="role">
                    <option value="ADMIN">Admin</option>
                    <option value="DEFAULT">User</option>
                </select>
            </div>
        </div>
        <div class="mt-auto space-y">
            <button type="submit" class="btn btn-primary w-100" data-bs-dismiss="offcanvas">Save</button>
        </div>
    </div>
</form>