<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>UnitPanel | Auth</title>
    <link rel="icon" href="/assets/img/favicon.png" type="image/x-icon" />
    <link href="/assets/css/tabler.css" rel="stylesheet" />
    <style>@import url("https://rsms.me/inter/inter.css");</style>
    <script defer src="/assets/js/app.js"></script>
</head>
<body>
<div class="page">
    <div class="page-wrapper">
        <div class="container-fluid">
            <div class="row min-vh-100 d-flex align-items-center justify-content-center">
                <div class="col-lg-3 col-sm-10">
                    <div class="card card-md align-middle">
                        <div class="card-body">
                            <div class="container pb-0 mb-0">
                                {% if flashes.success %}
                                <div class="alert alert-success mt-3">{{ flashes.success }}</div>
                                {% endif %}
                                {% if flashes.error %}
                                <div class="alert alert-danger mt-3">{{ flashes.error }}</div>
                                {% endif %}
                            </div>
                            <h2 class="h2 text-center mb-4">Login to your account</h2>
                            <form action="/users/login" method="POST" autocomplete="off" novalidate="">
                                <div class="mb-3">
                                    <label class="form-label">Username</label>
                                    <input type="text" name="username" class="form-control" autocomplete="off" />
                                </div>
                                <div class="mb-2">
                                    <label class="form-label">Password</label>
                                    <div x-data="{ viewPassword: true }" class="input-group input-group-flat">
                                        <input :type="viewPassword ? 'password' : 'text'" class="form-control" name="password">
                                        <span class="input-group-text">
                                    <a class="link-secondary" @click="viewPassword = !viewPassword" style="background: transparent; border: none; cursor: pointer;" data-bs-toggle="tooltip" aria-label="View password" data-bs-original-title="View password" aria-describedby="viewPassword">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-1"> <path d="M10 12a2 2 0 1 0 4 0a2 2 0 0 0 -4 0"></path> <path d="M21 12c-2.4 4 -5.4 6 -9 6c-3.6 0 -6.6 -2 -9 -6c2.4 -4 5.4 -6 9 -6c3.6 0 6.6 2 9 6"></path> </svg>
                                    </a>
                                </span>
                                    </div>
                                </div>
                                <div class="form-footer">
                                    <button type="submit" class="btn btn-primary w-100">Sign in</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer class="footer footer-transparent d-print-none">
            <div class="container-xl">
                <div class="row text-center align-items-center flex-row-reverse">
                    <div class="col-lg-auto ms-lg-auto">
                        <ul class="list-inline list-inline-dots mb-0">
                            <li class="list-inline-item">Theme by <a href="https://tabler.io" target="_blank" class="link-primary" rel="noopener">Tabler</a></li>
                        </ul>
                    </div>
                    <div class="col-12 col-lg-auto mt-3 mt-lg-0">
                        <ul class="list-inline list-inline-dots mb-0">
                            <li class="list-inline-item">
                                Copyright &copy; 2025 UnitPanel. By <a href="https://github.com/kainovaii" target="_blank" class="link-primary" rel="noopener">KainoVaii</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</div>
<script src="/assets/js/bundle.min.js" defer></script>
</body>
</html>