{% extends "layout/verticale.html" %}
{% block content %}
<div class="page-body">
    <div class="container-xxl">
        <div class="row">
            <div class="col-md-6">
                <div class="d-sm-flex align-items-center justify-content-between mb-3">
                    <h1 class="h3 mb-0 text-gray-800">Settings</h1>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="card card-bordered">
                            <div class="card-body">
                                <form action="/account" method="POST">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div>
                                                <label for="username" class="form-label">Username:</label>
                                                <input class="form-control" type="text" id="username" name="username" value="{{ loggedUser.username }}" placeholder="Enter new username">
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="mt-3">
                                                <label for="password" class="form-label">New password:</label>
                                                <input class="form-control" type="text" id="password" name="password" value="" placeholder="Enter new password">
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="mt-3">
                                                <button type="submit" class="btn btn-primary w-100">Save</button>
                                            </div>
                                        </div>

                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="d-sm-flex align-items-center justify-content-between mb-3">
                    <h1 class="h3 mb-0 text-gray-800">API</h1>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="card card-bordered">
                            <div class="card-body">
                                {% for token in api_tokens %}
                                <div class="col-md-12">
                                    <div class="mt-3">
                                        <form action="/api/auth/token/{{ token.getString('token') }}/revoke" method="POST">
                                            <div>
                                                <label class="form-label">Expire: {{ token.get("expires_at") }}</label>
                                            </div>
                                            <div class="input-group input-group-flat">
                                                <input type="text" class="form-control" value="{{ token.getString('token') }}" readonly>
                                                <span class="input-group-text">
                                        <button class="btn link-secondary" data-bs-toggle="tooltip" aria-label="Delete token" data-bs-original-title="Delete token" aria-describedby="deletetoken">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-1">
                                              <path d="M18 6l-12 12"></path>
                                              <path d="M6 6l12 12"></path>
                                            </svg>
                                        </button>
                                        </span>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                {% endfor %}
                                <form action="/api/auth/token" method="POST">
                                    <div class="col-md-12">
                                        <div class="mt-3">
                                            <button type="submit" class="btn btn-primary w-100">Request Api token</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}